<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sign in</title>
  </head>
  <body>
    <main class="main hidden">
      <div class="main-login">    
        <img class="logo" src="assets/icons/logo.webp" alt="logo">
        <h1 class="title">Welcome back 😎</h1>
        <p class="description">Welcome back! Please enter your details.</p>
        <form>
          <div class="form-input">
            <label for="email">Email</label> 
            <input type="email" name="email">
          </div>.
          <div class="form-input">
            <label for="password">Password</label>
            <input type="password" name="password">
          </div>
          <div class="form-options">
            <div>
              <input type="checkbox" name="remember">
              <label for="remember">Remember information</label>
            </div>
            <a href="#">Forgot password</a>
          </div>
          <button class="form-button" type="submit">Login</button>
          <div class="divider">Or</div>
          <a class="form-button-google" href="#"><img class="logo" src="assets/icons/google.webp"> Login with Google</a>
        </form>
        <p class="go-register">Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
      <div class="main-photo">
        <p class="quote">
          (floro) We construct a creative thinking, a rational processes and 
          meaningful experiences for every brands, every business as well 
          as the whole community.
        </p>
        <p class="author">Slabs Team xd</p>
      </div>
    </main>

    <script src="js/script.js"></script>
  </body>
</html>
